*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
:root{
    scroll-behavior: smooth;
    --branco: rgb(255, 238, 238);
    --preto: rgb(20, 18, 18);
    --cinza-claro: rgb(189, 180, 180);
    --cinza-escuro: rgb(73, 69, 69);
}
body{
    background-image: url(https://i.pinimg.com/564x/37/c8/18/37c818a87f0eba853ee08923941e5354.jpg);
    background-position: center;
    background-size: cover;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, cover auto);
    grid-template-rows: repeat(3, minmax(50px, auto));
    width: 90%;
    margin: auto;
}
header{
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: url(https://cdn.pixabay.com/photo/2020/06/18/22/06/circuit-5315089_960_720.jpg);
    background-position: center;
    background-size: cover;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
header a{
    text-decoration: none;
    color: var(--branco);
    margin: 1%;
    text-shadow: 5px 5px 5px var(--preto);
    margin: 5%;
    transition: 0.5s;
}
header a:hover{
    opacity: 1,5;
    font-size: 110%;
    transition: 0.5s;
}
nav{
    grid-column-start: 1;
    grid-column-end: 4;
    background: var(--preto);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
nav a{
    text-decoration: none;
    color: var(--branco);
}
.menu{
    display: grid;
    grid-template-columns: repeat(3, auto);
    text-align: center;
    font-size: larger;
    margin: 1%;
    padding: 1%;
}
.menu a{
    transition: 0.5s;
}
.menu a:hover{
    opacity: 1,5;
    font-size: 110%;
    transition: 0.5s;
}
main{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: var(--preto);
    color: var(--branco);
}
aside{
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: var(--cinza-escuro);
    color: var(--branco);
}
footer{
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: var(--preto);
    color: var(--branco);
    padding: 2%;
}
footer p{
    text-align: right;

}
.single{
    grid-column-start: 1;
    grid-column-end: 4;
}
.single section{
    width: 80%;
    margin: auto;
    text-align: justify;
}
.single li{
    text-align: center;
}
.single a{
    color: var(--branco);
    text-align: justify;
}
.imagem{
    width: 90%;
    margin: 0 auto;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2, h3, h4, h5{
    margin: 10px;
    padding: 10px;
    text-align: center;
}
ul li{
    list-style: none;
    padding: 5px;
}
p, legend{
    text-align: justify;
    text-indent: 3em;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
}

@media screen and (max-width: 650px){
    header{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    nav{
        grid-column-start: 1;
        grid-column-end: 4;
        font-size: small;
    }
    main{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    aside{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    footer{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    footer p{
        text-align: end;
        font-size: small;
    }
    .single{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}