*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
:root{
    scroll-behavior: smooth;
    --branco: #fff;
    --preto: #000;
    --fundoBody: #FFEB8F;
    --fundoHeader: rgb(255, 227, 168);
    --fundoNav: rgb(240, 236, 38);
    --fundoSection1: rgb(219, 145, 34);
    --fundoSection2: rgb(235, 170, 30);
    --fundoSection3:rgb(235, 186, 63);
    --corTitulo1: rgb(61, 1, 1);
    --corTitulo2: rgb(59, 14, 14);
    --corTitulo3: rgb(48, 19, 19);
    --corTopoTable: chocolate;
    --corLightTable:rgb(211, 211, 86);
    --checkLink:rgb(182, 34, 15);
}
body{
    background-color: var(--fundoBody);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    background-color: var(--branco);
    min-height: 100vh;
    line-height: 2em;
}
header, section, nav{
    border-bottom: 1px solid var(--preto);
    padding: 10px 50px;
}
section{
    min-height: 50vh;
}
header{
    text-align: center;
    background: var(--fundoHeader);
}
table{
    width: 100%;
    border: 1px solid var(--preto);
}
h1{
    margin: 3%;
}
/*
Para esta atividade, você não deve alterar absolutamente nada o arquivo HTML.

1 - formate os links como achar mais apropriado em seus estados (link, visited, hover, active)                                   ok
2 - os links devem estar lado a lado (display:inline ou inline-block)                                                            ok
3 - a pizza do cheff está em falta, esconda esta linha da tabela (display:none)                                                  ok
4 - faça a tabela ser listrada com cores diferentes                                                                              ok
5 - a primeira linha da tabela (cabeçalho) deve ser com uma cor destaque                                                         ok
6 - cada seção deve ter uma cor de fundo diferente                                                                               ok
7 - Títulos devem possui cores diferentes em cada seção. No entanto, os parágrafos das seções devem ser de cores iguais.
8 - adicione "R$" nos preços das pizzas
9 - links externos devem possuir uma cor ligeiramente diferente (começa com http)
10 - adicione "Rua" antes do nome da rua "Maria Aparecida Barbosa"
11 - adicione "bairro antes de "Campo Duna"
12 - adicione "Santa Catarina" após o nome da cidade (Garopaba)
13 - ao passar o cursor sobre cada linha da tabela, ela deve ser "iluminada" com outra cor (menos o cabeçalho). 
	 Dica: combinação de pseudo classes
14 - o texto do endereço deve ser centralizado
*/
a:link, a:visited{
    color: var(--preto);
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    color: var(--checkLink);
    text-decoration: underline;
}
nav{
    background: var(--fundoNav);
}
nav div{
    display: inline-block;
    margin-left: 19%;
}
@media screen and (max-width: 650px) {
    nav div{
        margin-left: 5%;
    }
}
tr:nth-child(4){
    display: none;
}
tr:nth-child(3n){
    background: var(--corLightTable);
}
tr:nth-child(1){
    background: var(--corTopoTable);
}
section:first-child{
    background: var(--fundoSection1);
}
section:first-child+section{
    background: var(--fundoSection2);
}
section:last-child{
    background: var(--fundoSection3);
}
#sobre{
    color: var(--corTitulo1);
}
#produto{
    color:var(--corTitulo2);
}
#endereco{
    color:var(--corTitulo3);
}
td:nth-child(2):not(tr:first-child td)::before{
    content: "R$";
}
a[href*="https://"]{
    color: var(--checkLink);
}
tr:not(tr:first-child):hover{
    background: var(--branco);
}
section:nth-child(3) p:first-child:before{
    content: "Rua: ";
}
section:nth-child(3) p:nth-child(2):before{
    content: "Bairro: ";
}
section:nth-child(3) p:nth-child(3)::after{
    content: ", Santa Catarina";
}
section:nth-child(3){
    text-align: center;
}